POSTGRES_HOSTNAME=localhost
POSTGRES_SSL=disable
POSTGRES_USER=moviefestival
POSTGRES_PASSWORD=moviefestival
POSTGRES_PORT=5432
POSTGRES_DB=moviefestival
MIGRATION_FOLDER=./migrations
HTTP_PORT=:8080
ENV=DEVELOPMENT
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080